body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

table {
    width: 80%; /* Adjust table width to make it more centered and compact */
    border-collapse: collapse;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

button {
    cursor: pointer;
    padding: 10px;
    margin-right: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

button:hover {
    opacity: 0.9;
}

.speed-high {
    color: red;
}

.speed-low {
    color: green;
}

.unknown {
    color: red;
}
